* {
  margin: 0;
  padding: 0;
}

/**
  * header *
  **/
.header {         
  height: 90px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10;
  background-color: #ffdabe;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}

.oasis-white {
 visibility: hidden;
 opacity: 0;
}

.oasis-orange {
  visibility: visible;
  opacity: 1;
 }

 .scrolling {
  transition: background-color 1.0s ease;
  background-color: white !important;
  z-index: 10;
}

.scrolling .oasis-orange {
  display: none;
}

.scrolling .oasis-white {
  visibility: visible;
  opacity: 1;
  transition: visibility 1s, opacity 1.5s ease
}

.scrolling .navbar .tabs a:hover {
  padding-bottom: 3px;
  border-bottom-style: solid;
  border-bottom-color: #e87c0194;
  border-bottom-width: 2px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  max-width: 1340px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.navbar .sidenav {
  display: none;
}

.navbar .sidenav .burger {
  display: none;
}

.navbar .sidenav .menu {
  display: none;
}

.navbar .material-symbols-outlined {
  display: none;
}

.navbar a {
  cursor: pointer;
  margin-left: 2em;
  text-decoration: none;
}

.navbar a img {
  height: 90px;
  margin-left: 25px;
}

.navbar .tabs {
  padding-top: 35px;
  padding-right: 40px;
} 

.navbar .tabs a {
  text-decoration: none;
  color: black;
  font-weight: 500;
  font-size: 16px;
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
  margin: 0px 30px;
}

.navbar .tabs a:hover {
  padding-bottom: 3px;
  border-bottom-style: solid;
  border-bottom-color: #EB5447;
  border-bottom-width: 2px;
}

body {
 background-color:#f8f8f8;
 position: relative;
}

.container {
  margin-top: 90px;
  max-width: 1340px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

/** OASIS WEB AGENCY **/
.us {
  text-align: center;
  margin-top: 50px;
}

.us img {
  margin-top: 50px;
  width: 50%;
}

.speciality {
  margin-top: 5em;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  font-weight: 500;
  margin-left: 4em;
  margin-right: 4em;
  text-align: center;
}

/**
  * Construison votre projet digitale *
  **/
.presentation {
  margin-top: 12em;
  margin-left: 4em;
  margin-right: 4em;
  display: flex;
  justify-content: space-between;
}

.presentation .text {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}

.presentation h1 {
  /* color: #EB5447; */
  color: #ff6600;
  font-size: 32px;
}

.presentation p {
  margin-top: 50px;
  font-size: 18px;
  font-weight: 400;
}

 .presentation img {
   width: 100%;
   margin-top: 0;
}

/**
  * Ils nous font confiance *
  **/
.confiance h1 {
  /* color: #EB5447; */
  color: #ff6600;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 32px;
}

.companies {
  margin-top: 55px;
  margin-left: 4em;
  margin-right: 4em;
  display: flex;
  flex-direction: row;
  margin-bottom: 100px;
  justify-content: space-between;
}

.company {
  width:260px;
  height:130px;
  border: 1px solid #ff88008b;
  border-radius: 10px;
}

.companies img {
  width:190px;
  height:60px;
  padding: 35px 30px;
} 

h1 {
  color: #ff6600;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 32px;
}

/**
* Domaines d'expertise *
**/
.expertises {
  margin-top: -80px;
  margin-left: 4em;
  margin-right: 4em;
  
}

.expertises .domaines {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.expertises .domaines .card {
  border-radius: 10px;
  padding: 20px;
  padding-bottom: 30px;
  margin-top: 55px;
  margin-right: 25px;
  height: 400px;
  width: 30%;
  cursor: pointer;
  position: relative;
  transition: all 0.5s ease-in-out;
}

.expertises .domaines .card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  transition: all 0.3s ease-in-out;
}


.expertises .domaines .card .toggle {
  position: absolute;
  bottom: 20px;
}

.expertises .domaines .card .toggle .switch {
  position: relative;
  display: inline-block;
  width: 45px;
  height: 20px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  bottom: 1px;
  background-color: white;
  transition: .4s;
}

input:checked + .slider {
  background-color: #eb5547d9;
}

input:focus + .slider {
  box-shadow: 0 0 1px #eb5547d9;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.expertises h4 {
  text-align: start;
  font-size: 22px;
  font-family: 'Poppins', sans-serif;
  color: #696969d6;
  font-weight: 600;
}

.expertises .domaines .explanation {
  margin-top: 30px;
  font-size: 15px;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}


/**
* DESIGN *
**/
.expertises 
.domaines 
.show-design{
  position: absolute;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  border-radius: 10px;
  background-color: white;
  transition: background-color 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  z-index: 9;
  width: auto;
  height: 400px;
}

.show-design h4 {
  text-align: start;
}

/**
* DEVELOPPMENT *
**/
.expertises
.domaines
.show-dev {
  position: absolute;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  border-radius: 10px;
  background-color: white;
  transition: background-color 0.3s ease-in-out;
  transition: all 0.5s ease-in-out;
  z-index: 9;
  width: auto;
  height: 400px;
}

.show-dev h4 {
  text-align: start;
}

/**
* STRATEGY *
**/
.expertises
.domaines
.show-strategy {
  position: absolute;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  border-radius: 10px;
  background-color: white;
  transition: background-color 0.3s ease-in-out;
  transition: all 1s ease-in-out;
  z-index: 9;
  width: auto;
  height: 400px;
}

.show-strategy h4 {
  text-align: start;
}
/**
 * REALISATIONS *
 **/
 .realisation {
  margin-top: 80px;
  margin-left: 4em;
  margin-right: 4em;
  margin-bottom: 50px;
 }

 .realisation .elements {
    margin-top: 80px;
 }

 .realisation .elements a {
  margin-bottom: 50px!important;
  margin: 20px 5px;
  transition: all .3 ease;
  border-radius: 40px;
}


.realisation .elements a img {
  border-radius: 40px;
  cursor: pointer;
  width: 100%;
}

.realisation .elements .next {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
  gap: 10px;
}

.realisation .elements img:hover {
  box-shadow: 0 16px 32px 0 rgba(0,0,0,0.2);
}

.realisation .more-references {
  text-align: center;
}

.realisation .more-references .button{
  border-radius: 50px;
  color: #eb5547d9; 
  padding: 15px 32px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  border: 3px solid #eb5547d9;
  font-weight: 600;
}

/**
  * Nous contacter *
  **/
  .Contact {
    display: flex;
    justify-content: space-between;
    margin-bottom: 3rem;
    margin-left: 4em;
    margin-right: 4em;
    margin-top: 80px;
  }

.Contact h4 {
  margin-top: 45px;
  font-size: 22px;
  font-family: 'Poppins', sans-serif;
}

 .Contact .idea {
  display: flex;
  flex-direction: column;
} 

.Contact .idea .text .button {
  margin-top: 12em;
  bottom: 450px;
  background-color: #eb5547d9;
  border-radius: 50px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  position: absolute;
}

.Contact p {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  margin-top: 26px;
  width: 75%;
}

.Contact .image img {
  height: 500px;
  width: 500px;
}

/**
  * Footer *
  **/
footer {
  background-color: #ffdabe;

}

footer  .description {
  display: flex;
  justify-content: space-between;
  height: 230px;
  padding-top: 4em;
  padding-bottom: 80px;
  max-width: 1340px;
  margin-left: auto;
  margin-right: auto;
}

footer .description .content {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin-left: 4em;
}

footer .description .rights {
  display: none;
}

footer .agency {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

footer .agency .title a {
  color: #ec4b3d;
  text-decoration: none;
  cursor: pointer;
  font-family: 'Pattaya', sans-serif;
  font-size: 33px;
}

footer .agency .title img {
  cursor: pointer;
  height: 90px;
  margin-top: -14px;
}

footer .agency .right .copyright {
  font-family: 'Poppins', sans-serif;
  font-size: 10px;
  line-height: 25px;
}

footer .agency .right .legales {
  font-family: 'Poppins', sans-serif;
  font-size: 10px;
  font-weight: 800;
  text-decoration: none;
  cursor: pointer;
  color: black;
}

footer .contact {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  font-family: 'Poppins', sans-serif;
}

footer .contact .title span {
  font-size: 20px;
  font-weight: bolder;
}

footer .contact .adresse {
  margin-top: 16px;
  font-size: 16px;
}

footer .contact .mail {
  margin-top: 100px;
}

footer .propos {
  display: flex;
  flex-direction: column;
  font-family: 'Poppins', sans-serif;
  margin-top: 10px;
}

footer .propos .title {
  font-size: 20px;
  font-weight: bolder;
}

footer .propos .list {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
}

footer .propos .list a {
  margin-bottom: 50px;
  text-decoration: none;
  color: black;
}

footer .propos .list a:hover {
  padding-bottom: 3px;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  width: fit-content;
}



@media only screen and (max-width: 990px) {
  .header {
    height: 64px;
  }


  .navbar .tabs {
    display: none;
  }

  .navbar .sidenav {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 3;
    top: 0;
    background-color: white;
    transition: left 0.5s ease;
    overflow-y: hidden;
  }

  .navbar .sidenav .burger {
    display: flex;
    justify-content: space-between;
    padding-right: 30px;
    height: 64px;
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 20%);
  }

  .navbar .sidenav .burger .close {
    font-size: 35px;
    margin-top: 7px;
    text-decoration: none;
    color: #ff5245;
  }

  .navbar .material-symbols-outlined {
    display: block;
    margin-top: 9px;
    font-size: 45px;
    margin-right: 25px;
    color: #ff5245;
  }


  .navbar .sidenav .menu{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 25px;
  }

  .navbar .sidenav .menu a {
    text-decoration: none;  
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    color: black;
  }


  
  .navbar a img {
    margin-left: 0;
    height: 64px;
  }

  .scrolling {
    padding-left: 0em;
  }

  body {
    max-width: 100%;
    overflow-x: hidden;
    margin-left: O;
  }

  .us img {
    margin-top: 0;
    width: 70%;
  }

  .speciality {
    font-size: 1rem;
    margin-top: 2em;
    margin-left: 2em;
    margin-right: 2em;
  }

  h1 {
    font-size: 20px;
    line-height: 30px;
  }

  .presentation {
    text-align: center;
    margin-top: 7rem;
    margin-left: 2em;
    margin-right: 2em;
  }

  .presentation h1 {
    font-size: 20px;
  }
  .presentation .image {
    display: none; 
   }

   .presentation .text p {
    margin-top: 10px;
    font-size: 16px;
   }

   .expertises {
    margin-top: 3rem;
    margin-left: 2em;
   }

   .expertises h1 {
    text-align: center;
    margin-left: 1em;
   }

   .expertises .domaines {
    flex-direction: column;
  }

  .expertises .domaines .card {
    pointer-events: none;
    height: auto;
    width: 100%;
    background-color: white;
    text-align: left;
    padding-bottom: 20px;
    margin-top: 25px;
  }

  .expertises .domaines .card h4 {
   font-size: 18px
  }

  .expertises .domaines .card  .explanation {
    font-size: 14px;
  }

  .expertises .domaines .card .toggle {
    display: none;
  }

  .realisation {
    margin-top: 3em;
    margin-left: 2em;
    margin-right: 2em;
  }

  .realisation h1 {
    text-align: center;
  }

  .realisation .elements {
    margin-top: 25px;
  }

  .realisation .elements .next{
    margin-bottom: 0px;
  }

  .realisation .more-references .button {
    font-size: 14px;
    padding: 5px 10px;
  }

  .Contact {
    margin-top: 7em;
    text-align: center;
    margin-left: 2em;
    margin-right: 2em;
    margin-bottom: 3em;
  }

  .Contact h4 {
   display: none;
  }

  .Contact p {
    font-size: 16px;
    width: 100%;
  }

  .Contact .image {
    display: none;
  }

  .Contact .idea .text .button {
    margin-top: 50px;
    bottom: 0; 
    text-align: center;
    display: inline-block;
    font-size: 16px;
    position: relative;
  }

  footer .description {
    padding-top: 1em;
    height: auto;
  }

  footer .description .content {
    flex-direction: column;
    margin-left: 2em;
  }

  footer .description .content .agency .right {
    display: none;
  }

  footer .description .content .contact .mail{
    margin-top: 0;
  }

  footer .description .content .rights {
    display: block;
    margin-top: 30px;
  }

  .rights .copyright {
    font-size: 10px;
    font-family: 'Poppins', sans-serif;
  }

  .rights .legales {
    font-family: 'Poppins', sans-serif;
    font-size: 10px;
    font-weight: 800;
    text-decoration: none;
    cursor: pointer;
    color: black;
  }


  footer .propos  {
    margin-top: 20px;
}

  footer .propos .list a {
    margin-bottom: 20px;

  }
}



